// @import "~bootstrap/dist/css/bootstrap.min.css";
$body-bg: #004D40;
$body-color: #eeeeee;

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  color: $body-color;
  background-color: $body-bg;
  margin: auto;
  max-width: 50rem;
}
