<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf8" />
  <title>Webpack simple needs</title>
</head>
<body>
  <h1>Hello, World!</h1>
  <%- include ./src/view/content.ejs %>
  
  <script src="bundle.js" ></script>
</body>
</html>
