<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf8" />
  <title>Webpack simple needs</title>
</head>
<body>
  <p>Write some ejs template codes</p>
  <p>Feel free to contact, @mort3za on Twitter</p>
  
  <script src="bundle.js" ></script>
</body>
</html>
